.album {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.albumHeader {
  padding: 20px 40px;
}

.gradHeader {
  background-image: linear-gradient(to bottom, #005f4e 20%, #002b22);
}

.albumTitle {
  align-items: flex-end;
  display: flex;
  padding: 20px 0;
}

.albumDetails {
  padding-left: 20px;
}

.albumImage {
  width: 200px;
}

.albumImage img {
  width: 100%;
}

.albumTitleFixed {
  margin: 0 auto;
}

.albumName {
  font-size: 5vw;
}

.artistDetails {
  align-items: center;
  display: flex;
}

.artistDetails img {
  border-radius: 100%;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.albumSideInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.albumSideInfo h5 {
  color: #b3b3b3;
  font-weight: 400;
}

.headingListStyle {
  margin: 0 5px;
}

.albumContent {
  padding: 20px 40px;

  /* width: 100%; */
}

.gradContent {
  background-image: linear-gradient(to bottom, #00261f 8%, #191919 15%);
}

.listMusic {
  display: flex;
  flex-direction: column;

  /* width: 100%; */
}

.musicRow {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: flex-start;
  padding: 5px;
}

.filterRow {
  height: 10px;
}

.filterRow p {
  font-size: 0.8em;
}

.horizontalRow {
  opacity: 0.1;
  width: 100%;
}

.notFocusable {
  pointer-events: none;
}

.divTrackNumber label svg {
  pointer-events: auto;
}

/* .focusMusicRow {
  cursor: pointer;
} */

.focusMusicRow:hover {
  background-color: #282828;
}

.divTrackNumber {
  padding: 15px;
  text-align: center;
  width: 2%;
}

.selectedMusic .trackNumber {
  display: none;
}

.focusMusicRow:hover .trackNumber {
  display: none;
}

.trackPlayIcon {
  display: none;
}


.selectedMusic .trackPlayIcon {
  display: block;
  font-size: 15px;
  margin: 0 auto;
}

.focusMusicRow:hover .trackPlayIcon {
  display: block;
  font-size: 15px;
  margin: 0 auto;
}

.heartIcon {
  visibility: hidden;
}

.focusMusicRow:hover .heartIcon {
  color: #b3b3b3;
  visibility: visible;
}

.focusMusicRow .heartIcon:hover {
  color: white;
}


.selectedMusic {
  background-color: #5a5a5a;
  border-radius: 5px;
}

.selectedMusic:hover {
  background-color: #5a5a5a;
}

.miniAlbumImage {
  width: 10%;
}

.miniAlbumImage img {
  height: 40px;
  width: 40px;
}

.musicAndArtist {
  width: 50%;
}

.albumFilter {
  width: 20%;
}

.divToEllipsis {
  width: 70%;
}

audio {
  color: black;
  width: 50%;
}

.previewFavorite {
  pointer-events: auto;
  text-align: center;
  width: 20%;
}

.heartColor {
  color: #00ba5e;
}

.musicDuration {
  padding: 15px;
  width: 20%;
}

.titleFlex {
  display: flex;
}

.timeFilter {
  width: 25%;
}

.filterRigth {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.filterRigthAlbum {
  width: 30%;
}
