@media only screen and ( max-width : 600px ) {

  .contentSpace {
    width: 100% ! important;
  }

  .sectionCards {
    justify-content: space-evenly ! important;
  }

  .cardMusic {
    width: 100px ! important;
  }

  .textCard {
    width: 100px ! important;
  }

  .listMusicMobile {
    width: 100% ! important;
  }

  .musicAndArtistAlbum {
    width: 70% ! important;
  }
}

.sectionResult {
  display: flex;
  flex-direction: column;
}

.contentSpace {
  height: 90vh;
  overflow-y: scroll;
  padding: 10px 10px 0;
}

.sectionCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contentSearched {
  display: flex;
  justify-content: center;
}

.linkStyle {
  text-decoration: none;
}

.cardMusic {
  background-color: #181818;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0 10px 30px;
  padding: 15px;
  transition: 300ms;
  width: 150px;
}

.cardMusic:hover {
  background-color: #282828;
  cursor: pointer;
}

.textCard {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: flex-start;
  width: 150px;
}

.textCard > h5, p {
  margin: 0;
  top: 0;
}

.textCard h5 {
  color: white;
  font-size: 1em;
  margin-bottom: 7px;
}

.textCard > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imageCard {
  margin-bottom: 20px;
}

.imageInsideCard {
  border-radius: 3%;
  height: 100%;
  object-fit: contain;
  width: 100%;
}
