@media only screen and ( max-width : 950px ) {

  .friends-container-hero {
    display: none;
  }
}

.noHover {
  pointer-events: none;
}

.friends-container-hero {
  background-color: black;
  float: right;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 15px;
  width: 250px;
}

.headerActFrnd {
  align-items: center;
  color: #b3b3b3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

.title-hero {
  margin: 0;
}

.subtitle {
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 15px;
}

.activities-container {
  display: flex;
  flex-direction: column;
}

.father-activity {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.father-activity:first-child {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* Default */
.friend-activity-default {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 240px;
}

.friend-activity {
  cursor: default;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 240px;
}

.friend-activity:first-child {
  margin-bottom: 0;
}

.friend-activity-opacity-start {
  opacity: 0;
}

.friend-activity-opacity-end {
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.friend-profile-picture {
  align-items: center;
  background-color: #333;
  border-radius: 100%;
  color: #b3b3b3;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
}

.friend-pp {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.friend-pp-hover {
  border-radius: 100%;

  /* height: 50px; */
  position: absolute;

  /* width: 50px; */
}


.friend-pp:hover {
  background-color: black;
  opacity: 0.2;
  transition: 500ms;
}

.friend-pp-icon-play {
  color: white;
  opacity: 0;
  position: absolute;
}

.friend-pp-icon-father {
  align-content: center;
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 40px;
}

.friend-pp-icon-father:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.friend-pp-icon-father:hover .friend-pp-icon-play {
  opacity: 1;
  transition: 500ms;
}

.friend-detail-info {

}

.friend-name {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 2px;
  width: fit-content;
}

.info-friend-music {
  display: flex;
  font-size: 13px;
  margin-bottom: 2px;
}

.friend-no-activity-nm {
  background-color: #333;
  border-radius: 10px;
  height: 10px;
  margin-bottom: 2px;
  width: 100px;
}

.friend-icon-style {
  font-size: small;
}

.friend-icon-style:hover {
  color: #b3b3b3;
  width: fit-content;
}

.friend-playlist-name {
  font-size: small;
  margin-left: 3px;
}

.friend-music-name:hover, .friend-artist-name:hover {
  color: #b3b3b3;
  cursor: pointer;
  text-decoration: underline;
}

.friend-name:hover, .friend-playlist-name:hover {
  color: #b3b3b3;
  text-decoration: underline;
}

.friend-no-activity-am {
  background-color: #333;
  border-radius: 10px;
  height: 10px;
  margin-bottom: 2px;
  width: 80px;
}

.divButtonSettings {
  display: flex;
  justify-content: center;
}

.buttonSettings {
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 900;
  padding: 15px;
  pointer-events: visible;
  width: 180px;
}

.buttonSettings:hover {
  background-color: rgb(200, 200, 200);
  border: 3px solid rgb(200, 200, 200);
  font-size: 14px;
  transition: 100ms;
  width: 185px;
}

/* Link decoration */


/* Ellipsis */
.friend-music-ellipsis {
  max-width: 90px;
}
