@media only screen and ( max-width : 500px ) {

  .friends-container-hero {
    display: none;
  }
}

.friends-container-hero {
  background-color: black;
  float: right;
  height: 100vh;
  padding: 12px 15px 0;
  width: 20%;
}

.headerActFrnd {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title-hero {
  margin: 0;
}
