@media only screen and ( max-width : 400px ) {

  .navLinks-container span {
    display: none;
  }
}

@media only screen and ( max-width : 950px ) {

  .headerPattern {
    display: flex;
    flex-direction: column;
  }

  .header-hero {
    height: 150px ! important;
    max-width: 100% ! important;
    position: unset ! important;
    width: 100% ! important;
  }

  .headerTopside {
    display: flex ! important;
    flex-direction: row ! important;
    justify-content: space-between;
  }

  .header-title h2 {
    margin-bottom: 0;
  }

  .header-content {
    flex-direction: row ! important;
  }

  .header-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .navLinks-container {
    flex-direction: column-reverse ! important;
  }

  /* .navLinks-container span {
    display: none;
  } */

  div .sideFavSongsContainer {
    display: none;
  }

  .albumHeader {
    padding: 0 ! important;
    width: 100% ! important;
  }

  .albumTitle {
    align-items: center ! important;
    flex-direction: column ! important;
  }

  .albumContent {
    padding: 0 ! important;
    width: 100% ! important;
  }

  .listMusic {
    margin: 0 auto;
    width: 90% ! important;
  }
}

.header-hero {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  margin: 0;
  max-width: 200px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-link-style {
  color: white;
  text-decoration: none;
}

.headerTopside {
  padding: 24px 12px 0;
}

.header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

.header-title img {
  width: 150px;
}

.header-collab {
  font-weight: 400;
  margin: 0 7px;
}

.header-content h2 {
  margin-top: 0;
}

.loadingHeader {
  display: flex;
  height: 110px;
  width: 150px;
}

.navLinks-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.alignNavSideBar {
  margin: 10px 0;
}

.sidebarDivisor {
  border-radius: 4px;
  border-top: 1px solid #b3b3b3;
  padding: 10px;
}

.navLinks {
  border-radius: 4px;
  color: #b3b3b3;
  padding: 10px;
  text-decoration: none;
  transition: 500ms;
  width: 30%;
}

.navLinks:hover {
  color: white;
}

.iconSet {
  margin-right: 5px;
}

.sideBarHorizontalRow {
  margin: 0 auto;
  opacity: 0.2;
  width: 80%;
}

.sideFavSongsContainer {
  height: 100%;
  overflow-y: scroll;

  /* padding: 0 0 0 24px; */
  padding: 0 12px 0 24px;
}

.favList {
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.sideLinkStyle {
  border-radius: 4px;
  color: #b3b3b3;
  cursor: default;
  padding: 5px;
  text-decoration: none;
  width: 30%;
}

.sideLinkStyle:hover {
  color: white;
}
