.titleModal {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  width: 90%;
}

.blocks {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  width: 90%;
}

.block {

  --sz: 8vmin;

  --tX: 0;

  --animation: 700ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;

  --hm: 4.5vmin;
  background-image: var(--bg);
  border-radius: 50%;
  height: var(--sz);
  mix-blend-mode: lighten;
  transform: translateX(var(--tX));
  width: var(--sz);
}

.orange {

  --bg: linear-gradient(-50deg, white 0%, #d1d1d1 50%);
  animation: attract-orange var(--animation);
  margin-right: var(--hm);
}

.blue {

  --bg: linear-gradient(50deg, #00ba5e 0%, #b9ffdc 50%);
  animation: attract-blue var(--animation);
  margin-left: var(--hm);
}

@keyframes attract-orange {

  to {
    transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
  }
}

@keyframes attract-blue {

  to {
    transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
  }
}
