@media only screen and ( max-width : 414px ) {
  
  .login-logo-title {
    width: 210px ! important;
  }

  .llt-i {
    width: 250px !important;
  }

  .login-name {
    align-self: flex-end;
    font-size: 25px ! important;
  }
}

.page-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.inputLogin {
  border-radius: 5px;
  height: 25px;
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}

.inputPassword {
  margin-top: 5px;
}

.login-logo-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.llt-i {
  width: 350px;
}

.login-name {
  color: #00d96c;
  font-family: 'Press Start 2P' , cursive;
  font-size: 38px;
}

.span-ln {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: top;
}

.loginSubmitButton {
  align-self: center;
  border-radius: 2px;
  color: black;
  font-size: 15px;
  height: 25px;
  margin-top: 15px;
  width: 100%;
}

.loginSubmitButtonDisabled {
  background-color: #004120;
  border: 2px #004120 solid;
}

.loginSubmitButtonEnabled {
  background-color: #00d96c;
  border: 2px #00d96c solid;
}

.loginSubmitButton:hover {
  cursor: pointer;
}

.copyright-f {
  bottom: 10px;
  color: #b3b3b3;
  position: fixed;
  text-align: center;
  width: 100%;
}

.copyright-p {
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.copyright-p:hover {
  color: #b3b3b3;
}
