@media only screen and ( max-width : 600px ) {

  .formContainer {
    margin: 0 auto ! important;
    width: 100% ! important;
  }

  .formEdit {
    align-items: center ! important;
  }

  .formContainer label input {
    width: 250px ! important;
  }
}

.titlePage {
  font-size: 50px;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.formEdit {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formEdit label {
  margin: 15px 0;
  width: 80%;
}

.formEdit label > input {
  width: 98%;
}

.buttonEditProfile {
  align-self: center;
  background-color: #00d96c;
  border: 2px #00d96c solid;
  border-radius: 2px;
}

.buttonEditProfile:hover {
  cursor: pointer;
}
