@media only screen and ( max-width : 375px ) {

  .inputSearch {
    width: auto ! important;
  }
}

.headerPattern {
  display: flex;
}

.search-hero {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.search-hero label {
  height: 35px;
  margin: 0;
}

.glassInputSearch {
  background-color: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  color: black;
  height: 24px;
  padding: 10px;
  vertical-align: middle;
}

.inputSearch {
  border: 2px solid white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  height: 40px;
  padding: 0 15px 0 0;
  text-align: center;
  width: 25vw;
}

.inputSearch:focus {
  outline: none;
}

.buttonSearch {
  align-self: center;
  background-color: #00d96c;
  border: 2px #00d96c solid;
  border-radius: 0 10px 10px 0;
  color: black;
  font-size: 15px;
  height: 35px;
}

.buttonSearch:hover {
  cursor: pointer;
}
