@media only screen and ( max-width : 414px ) {

  .inputSearch {
    font-size: 16px ! important;
    width: auto ! important;
  }
}

@media only screen and ( min-width : 950px ) and ( max-width : 975px ) {

  .inputSearch {
    width: 12vw ! important;
  }
}

@media only screen and ( min-width : 976px ) and ( max-width : 1105px ) {

  .inputSearch {
    width: 15vw ! important;
  }
}

.headerPattern {
  display: flex;
}

.search-hero {
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-hero label {
  height: 35px;
  margin: 0;
}

.labelInputSearch {
  background-color: white;
  border-radius: 50px;
  height: 24px;
  padding: 11px;
}

.glassInputSearch {
  color: black;
  font-size: 2rem;
  height: 24px;
  vertical-align: middle;
}

.inputSearch {
  border: 1px solid white;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  /* font-size: 16px; */
  text-align: left;
  width: 25vw;
}

.inputSearch:focus {
  outline: none;
}

.buttonSearch {
  align-self: center;
  background-color: #00d96c;
  border: 2px #00d96c solid;
  border-radius: 0 10px 10px 0;
  color: black;
  height: 35px;
}

.buttonSearch:hover {
  cursor: pointer;
}
