/*
  Tive de fazer isso no app para grudar a página no canto
*/

body {
  background-color: #121212;
  color: white;
  font-weight: 400;
  margin: 0;
  margin-top: 0;
  padding: 0;
  top: 0;
}

/* Fix responsability of my app after put player */

@media only screen and ( max-width : 414px ) {

  .player-relative-to-header-fa {
    margin-top: -170px;
    position: absolute;
    width: 100%;
  }

  .headerPattern {
    margin-top: 170px;
  }
}

