body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: #b3b3b3;
}

p:hover {
  color: white;
}

.withoutHover:hover {
  color: #b3b3b3;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.headerPattern {
  display: flex;
}

.titlePage {
  text-align: center;
}

.patternPages{
  width: 95.1%;
  margin: 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-link {
  font-family: 'Montserrat', sans-serif;
}
